* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: black;
  color: orange;
  display: block;
  /* padding: 10px 10px;
  margin: 10px; */
  padding: 0px;
  margin: 0px;
  text-align: left;
}

@media screen and (min-width: 400px) {
  ul li a {
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    background: black;
    color: orange;
    display: block;
    /* padding: 10px 10px;
    margin: 10px; */
    text-align: center;
    font-size: 20px;
  }
}
